.DS_Store
.vscode
.history
atd-public.code-workspace
__pycache__/
*.pyc

# Node.js
node_modules/
package-lock.json
*.tmp.map

# Nodebuilder documentation (uploaded to Google Drive)
nested-labvm/atd-docker/nodebuilder/docs/