[Unit]
Description=ATD Unit Test Timer (runs 30 minutes after boot)
After=multi-user.target

[Timer]
OnBootSec=30min
AccuracySec=1s

[Install]
WantedBy=timers.target