[Unit]
Description=Script to get grading data to firestore
Before=shutdown.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/atd/nested-labvm/services/atdShutdown/gradingToDB.sh

[Install]
WantedBy=multi-user.target